/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1.25;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

html{
        font-size:100%; /* Use 16px as per informationarchitects.jp/en/100e2r/ and wilsonminer.com/posts/2008/oct/20/relative-readability/ */
        line-height:1.5; /* A safe default for type of any size. */
        /* You should always specify a colour and background, override these in your own stylesheet if desired. */
        background-color:#fff;
        color:#333;
}

.clear{
        clear:both; float:none;
}

.nav{
        list-style:none;
}
.nav li{
        display:inline;
}
.nav a{
        display:inline-block;
}

a:visited{
        opacity:0.8; /* A bit basic, but it’s a bare minumum... */
}
a:hover{
        text-decoration:underline;
}
a:active,
a:focus{
        /* Give clicked links a depressed effect. */
        position:relative;
        top:1px;
}
/* end of reset */

body {
  background-image: url('/img/background.png');
  font-family: 'Cabin Condensed', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #04445A;
  border-bottom: solid 2px #04445A;
  z-index: 10;
  min-width: 860px;
  min-height: 65px;
}

.header {
  padding: 20px 70px 3px 70px;
}

.header .nav {
  display: block;
  float: left;
  margin: 2px 0 0 0;
}

.header .nav a {
  color: #A4B2B9;
  text-transform: uppercase;
  margin-right: 25px;
  font-size: 1.4em;
}

.header .nav a:hover {
  color: #FFF;
}

.buttons {
  position: absolute;
  top: 10px;
  right: 90px;
}

.buttons a {
  background-image: url('/img/button-logos.png');
  height: 131px;
  width: 132px;
  display: inline-block;
}

.bg-button-logo {
  background-position: 0 0;
}

.ggm-button-logo {
  background-position: 132px 0;
}

.content-container {
  position: relative;
  left: 0;
  right: 0;
  margin: 67px 70px 0 70px;
  background-color: #FFF;
  padding: 0 40px 20px 40px;
  color: #04445A;
  min-width: 720px;
}

.home {
  border-bottom: solid 1px #C8C8C8;
  min-height: 380px;
}

.headline {
  position: absolute;
  top: 0;
  left: 40px;
  width: 50%;
  min-height: 237px;
  z-index: 2;
}

.headline header {
  padding: 30px 0 0 0;
}

.headline h1 {
  font-size: 2em;
  line-height: 1.2;
  font-weight: 600;
}

.headline header p {
  font-size: 1.5em;
}

.headline p.note {
  padding: 10px 0;
  font-size: 1em;
  max-width: 70%;
}

.headline .highlight {
  color: #2DC4F3;
}

#home .slides {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  max-width: 629px;
  height: 380px;
  background-image: url('/img/slides.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: background-position 500ms ease;
  -webkit-transition: background-position 1000ms ease;
  -moz-transition: background-position 1000ms ease;
  -o-transition: background-position 1000ms ease;
}

#home .slides.number-1 {
  background-position: 0 0;
}

#home .slides.number-2 {
  background-position: -736px 0;
}

#home .slides.number-3 {
  background-position: right;
}

.cutout {
  position: relative;
  top: -1px;
  height: 380px;
  width: 227px;
  background-image: url('/img/slide-cutout.png');
}

.button {
  display: inline-block;
  background-color: #04445A;
  color: #FFF;
  font-size: 1.5em;
  padding: 5px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
}

.button:hover {
  text-decoration: none;
  background-color: #065F7D;
}

.section {
  padding: 20px 0;
  border-bottom: solid 1px #C8C8C8;
}

.section .anchor {
  position: relative;
  top: 82px;
}

.section h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.section h3 {
  text-transform: uppercase;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.section p {
  font-size: 1.5em;
  margin-bottom: 5px;
  width: 75%;
  font-weight: 500;
}

.schedule .time,
.schedule .room,
.schedule .speaker,
.schedule .title {
  font-size: 1.3em;
  width: 75%;
}

.break .title {
  text-transform: uppercase;
}

.time {
  padding-top: 20px;
  padding-bottom: 1px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid #C8C8C8;
}

.room {
  font-weight: 500;
  text-transform: uppercase;
}

.schedule a {
  padding-left: 10px;
  color: #04445A;
}

.session,
.gathering,
.break {
  padding: 10px 0;
}

.session div,
.gathering div,
.break div {
  padding-top: 5px;
}

.speaker,
.session .title {
  background-image: url('/img/plus-minus-icons.png');
  background-repeat: no-repeat;
  background-position: -24px 4px;
  padding-left: 30px;
  cursor: hand;
  cursor: pointer;
  padding-bottom: 5px;
  margin-top: 10px;
}

.speaker.expanded,
.session .title.expanded {
  background-position: 0 -24px;
}

.schedule div.bio,
.schedule div.description {
  font-size: 1em;
  padding: 15px 0 0 30px;
  display: none;
  width: 70%;
}

.schedule div.bio {
  padding-bottom: 15px;
}

.schedule div.bio.expanded,
.schedule div.description.expanded {
  display: block;
}

.session .links {
  padding-left: 20px;
}

.session .links a {
  display: inline-block;
}

.person {
  display: inline-block;
  width: 240px;
  padding: 5px 20px;
  vertical-align:top
}

.portrait {
  background-image: url('/img/portrait-surround.png');
  min-width: 121px;
  min-height: 121px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.person h3 {
  padding-top: 10px;
  text-align: center;
}

.person p {
  text-align: center;
  overflow-y: auto;
  width: auto;
  height: 100px;
  font-size: 1em;
  padding: 5px;
}

.footer-container {
  background-color: #F4F4F4;
  width: 100%;
  min-width: 860px;
  z-index: 5;
}

.footer {
  padding: 7px 70px 5px 70px;
}

.footer h3 {
  float: left;
  font-size: 1em;
  text-transform: uppercase;
}

.footer .social {
  float: left;
}

.footer .sponsors {
  float: right;
  margin-left: 20px;
}

.footer .nav {
  display: block;
  float: left;
  margin: 0 0 0 0;
}

.social a {
  display: inline-block;
  margin-left: 20px;
  background-image: url('/img/social.png');
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
}

.facebook {
  background-position: 0 0;
}

.twitter {
  background-position: -36px 0;
}

.email {
  background-position: -72px 0;
}

.sponsors a {
  display: inline-block;
  margin-left: 45px;
  height: 50px;
  background-repeat: no-repeat;
}

.additional.sponsors a {
  margin-top: 20px;
}

.soundcloud-logo {
  background-image: url('/img/logos.png');
  width: 78px;
  background-position: -137px 0;
}

.betahaus-logo {
  background-image: url('/img/logos.png');
  width: 155px;
  background-position: -215px 0;
}

.nokia-logo {
  background-image: url('/img/logos.png');
  width: 140px;
  background-position: -370px 14px;
}

.big-logo {
  background-image: url('/img/logos.png');
  width: 172px;
  background-position: -495px 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 860px) {
  body {
    background-image: none;
  }

  .header .nav a {
    padding: 5px 0 5px 0;
    margin-left: 0;
    color: #FFF;
  }

  .header-container {
    position: static;
    min-width: 0;
  }

  .header {
    padding: 0 10px 10px 15px;
  }

  .header .nav {
    float: none;
  }

  .header .nav li {
    display: block;
  }

  .headline h1 {
    width: 80%;
  }

  .buttons {
    position: static;
    padding: 10px 0 10px 10px;
  }

  #about.section p {
    width: 80%;
  }

  .content-container {
    margin: 0;
    padding-left: 15px;
    padding-right: 10px;
    min-width: 0;
  }

  #home {
    min-height: 0;
  }

  #home .headline {
    min-height: 0;
    margin-bottom: 30px;
  }

  #home .slides {
    display: none;
  }

  .headline {
    position: static;
    width: 100%;
  }

  .headline h1 {
    font-size: 1.9em;
  }

  .schedule a {
    padding-left: 0;
  }

  .session,
  .gathering,
  .break {
    padding-left: 0;
    padding-right: 0;
  }

  .session .links {
    padding-left: 30px;
  }

  .person {
    display: block;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .portrait {
    background-position: left;
  }

  .person h3 {
   text-align: left;
  }

  .person p {
    height: auto;
    max-height: 1000px;
    text-align: left;
    padding-left: 0;
    width: 75%;
  }

  .additional.sponsors {
    display: none;
  }

  .footer-container {
    min-width: 0;
  }

  .footer {
    padding: 7px 10px 10px 15px;
  }

  .footer h3 {
    float: none;
    padding: 10px 0 5px 0;
  }

  .footer .social {
    float: none;
  }

  .footer .sponsors {
    float: none;
    margin-left: 0;
  }

  .footer .sponsors .nav li {
    display: block;
  }

  .footer .nav {
    float: none;
  }
}
