/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

html{
        font-size:100%; /* Use 16px as per informationarchitects.jp/en/100e2r/ and wilsonminer.com/posts/2008/oct/20/relative-readability/ */
        line-height:1.5; /* A safe default for type of any size. */
        /* You should always specify a colour and background, override these in your own stylesheet if desired. */
        background-color:#fff;
        color:#333;
}

.clear{
        clear:both; float:none;
}

.nav{
        list-style:none;
}
.nav li{
        display:inline;
}
.nav a{
        display:inline-block;
}

a:visited{
        opacity:0.8; /* A bit basic, but it’s a bare minumum... */
}
a:hover{
        text-decoration:underline;
}
a:active,
a:focus{
        /* Give clicked links a depressed effect. */
        position:relative;
        top:1px;
}
/* end of reset */

body {
  background-image: url('/img/background.png');
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  background-color: #22C2F8;
  border-bottom: solid 2px #1690B9;
  z-index: 10;
  min-width: 860px;
}

.header {
  padding: 25px 110px 2px 110px;
}

.header .nav {
  display: block;
  float: left;
  margin: 20px 0 0 0;
}

.header .nav a {
  color: #FFF;
  text-transform: uppercase;
  margin-right: 50px;
  font-size: 1.4em;
  letter-spacing: -1px;
}

.logo {
  display: block;
  float: right;
  background-image: url('/img/logos.png');
  background-position: -7px 0;
  height: 40px;
  width: 172px;
}

.content-container {
  position: relative;
  left: 0;
  right: 0;
  margin: 82px 70px 0 70px;
  background-color: #FFF;
  padding: 0 40px 20px 40px;
  color: #04445A;
  min-width: 720px;
}

.home {
  border-bottom: solid 2px #EEEEEE;
  min-height: 237px;
}

.headline {
  position: absolute;
  top: 0;
  left: 40px;
  width: 50%;
  min-height: 237px;
  z-index: 2;
}

.headline header {
  padding: 30px 0;
}

.headline h1 {
  font-size: 2em;
}

.headline p {
  font-size: 1.5em;
}

.slides {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  max-width: 640px;
  height: 237px;
  background-image: url('/img/slides.png');
  background-position: right;
  background-repeat: no-repeat;
}

.cutout {
  height: 237px;
  width: 237px;
  background-image: url('/img/slide-cutout.png');
}

.button {
  display: inline-block;
  background-color: #04445A;
  color: #FFF;
  font-size: 1.5em;
  padding: 5px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button:hover {
  text-decoration: none;
  background-color: #065F7D;
}

.section {
  padding: 20px 0;
  border-bottom: solid 2px #EEEEEE;
}

.section .anchor {
  position: relative;
  top: 82px;
}

.section h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: bold;
}

.section p {
  font-size: 1.5em;
  margin-bottom: 5px;
  width: 75%;
}

.footer-container {
  background-color: #F4F4F4;
  width: 100%;
  border-top: solid 2px #DBDBDB;
  min-width: 860px;
  z-index: 5;
}

.footer {
  padding: 7px 70px 10px 112px;
}

.footer h3 {
  float: left;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
}

.footer .social {
  float: left;
}

.footer .sponsors {
  float: right;
  margin-left: 20px;
}

.footer .nav {
  display: block;
  float: left;
  margin: 0 0 0 0;
}

.social a {
  display: inline-block;
  margin-left: 20px;
  background-image: url('/img/social.png');
  width: 37px;
  height: 36px;
  background-repeat: no-repeat;
}

.facebook {
  background-position: 0 0;
}

.twitter {
  background-position: -37px 0;
}

.email {
  background-position: -74px 0;
}

.sponsors a {
  display: inline-block;
  margin-left: 45px;
  height: 52px;
  background-repeat: no-repeat;
}

.soundcloud-logo {
  background-image: url('/img/logos.png');
  width: 89px;
  background-position: -184px 0;
}

.betahaus-logo {
  background-image: url('/img/logos.png');
  width: 132px;
  background-position: -274px 3px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 860px) {
  body {
    background-image: none;
  }

  .nav a {
    padding: 5px 0 5px 0;
    margin-left: 0;
  }

  .header-container {
    position: static;
    min-width: 0;
  }

  .header {
    padding: 25px 40px 2px 40px;
  }

  .header .nav {
    float: none;
  }

  .header .nav li {
    display: block;
  }

  .logo {
    float: none;
  }

  .content-container {
    margin: 0;
    padding-right: 10px;
    min-width: 0;
  }

  .slides {
    display: none;
  }

  .headline {
    position: static;
    width: 100%;
  }

  .footer-container {
    min-width: 0;
  }

  .footer {
    padding: 7px 40px 10px 40px;
  }

  .footer h3 {
    float: none;
    padding: 10px 0 5px 0;
  }

  .footer .social {
    float: none;
  }

  .footer .sponsors {
    float: none;
    margin-left: 0;
  }

  .footer .nav li {
    display: block;
  }

  .footer .nav {
    float: none;
  }
}